NumPy
Pandas
Matplotlib
Scikit-learn
Keras
PyTorch
SciPy
Seaborn
NLTK
Requests
BeautifulSoup4
Django
Flask
OpenCV
Scrapy
Pillow
SQLAlchemy
PyInstaller
PyInstaller
Bokeh
Dash
Plotly
Cython
Pandas-profiling
Python-docx
Reportlab
Fpdf
Tweepy
PyQt
PyGTK
PySimpleGUI
Streamlit
PyAutoGUI
Selenium
Paramiko
